{% extends 'base.html' %}

{% block content %}
<h1> Teams </h1>

<section id="teams-table">
    <table>
        {% for team in teams %}
            <div class="team">
                <div class="content">
                    <a href="/teams/{{team.id}}">{{team.city}} {{team.name}}</a>
                    <br>
                    <span class="league"> Playing In The </span>
                    <br>
                    <span class="league">{{team.league.name}} League</span>
                    <br>
                    </div>
                    <div class="buttons">
                        <form class="delete-form" action="/teams/{{team.id}}/delete" method="POST">
                            <button class="trash-button"><i class="fa fa-trash-o fa-2x" style="color:red" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </table>
</section>    
<p class="new-team-btn">
    <a class="btn btn--action" href="/teams/new"> Create Your Own Team!</a>
</p>
{% endblock %}