{% extends 'base.html' %}

{% block content %}
<h1>Start Your Own League!</h1>
<section id="new-form">
    <form action="/leagues" method="POST">
        <div>
            <label for="name">Name Your League:</label>
            <input type="text" id="name" name="name" placeholder="e.g Call of Duty Amateurs" required autofocus>
        </div>
        <div>
            <label for="year">Choose Your League Season:</label>
            <input type="text" id="year" name="year" placeholder="20/21, Sprint Split, Winter etc.." required>
        </div>
        <input class="create-league-btn" type='submit' value="Create Your League">
    </form>
</section>
{% endblock %}